[user]
	name = César Alberca
	email = cesalberca@gmail.com
[alias]
  c = commit -m
  ch = checkout
  a = add
  p = pull
  d = push
  f = fetch
[url "https://github.com/"]
    insteadOf = gh:
[core]
	excludesfile = /Users/cesaralberca/.gitignore_global
	autocrlf = input
	ignoreCase = false
[commit]
	template = /Users/calberca/.stCommitMsg
[branch "main"]
	remote = origin
	merge = refs/heads/main
	mergeoptions = --no-ff
[pull]
	ff = true
	rebase = false
[init]
	defaultBranch = main
